body {
  margin:0;
}
h1 {
	text-align:center;
}
.topnav {
  background-color: #005BBB;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #fece0c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Helvetica, ariel, san-serif;
}
.topnav a:hover {
  background-color: #fece0c;
  color: #005BBB;
}
.topnav a.active {
  background-color: #fece0c;
  color: #005BBB;
}
